<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <script src="angular.js"></script>
        <script src="app2.js"></script>
        <title>Name Calculator with Angular</title>
        <style>
        body{
            font-size: 1.3em;
        } 
        </style>
    </head>
    <body ng-app="LunchMenu">
        <div ng-controller="LunchCon">Welcome! Please state your order! <input type="text" placeholder="list comma separated dishes you usually have for lunch" ng-model="orderitem"> 
        <div>{{output}}</div>
        <button ng-click="order()">Order</button>
        </div>

    </body>
</html>