<!doctype html>
<html lang="en" ng-app="shopper">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="shopapp.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container" ng-controller="sysctrl">
  <h1>Shopping List Check Off</h1>
  <div ng-controller="addctrl as itemAdder">
    <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
      <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
      <button ng-click="itemAdder.addItem();">Add Item To Shopping List</button>
  </div>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="listctrl as listreveal">
     <h2>To Buy:</h2>
     <ul>
     	<li ng-repeat="item in listreveal.buylist">{{item.quantity}} of {{item.name}} 
        <button ng-click="listreveal.buyitem($index)">Buy</button> 
        <button ng-click="listreveal.removeItem($index)">Remove</button></li>
     </ul>
     <div ng-if="listreveal.buylist.length==0">List is Empty or Everything is Bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="buyctrl as listconfirm">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in listconfirm.boughtlist">{{item.quantity}} of {{item.name}}</li>
     </ul>
     <div ng-if="listconfirm.boughtlist.length==0">Nothing is Bought!</div>
    </div>
  </div>
</div>

</body>
</html>
